*
!/Data/
!/environment/
!/scripts/
!/tests/
!/.gitignore
!/CITATION.txt
!/Data/README.md
!/LICENSE_STATUS.txt
!/README.md
!/RELEASE_MANIFEST.json
!/VTC_RTG_analysis.Rmd
!/analysis_main.Rmd
!/apa.csl
!/data_dictionary.csv
!/environment/README.md
!/environment/build-session.txt
!/environment/direct-packages.txt
!/output_map.csv
!/references.bib
!/render.R
!/renv.lock
!/run_analysis.py
!/scripts/compute_covariates.R
!/scripts/demographic_functions.R
!/scripts/hmm_cache_utils.R
!/scripts/prepare_demographics.R
!/scripts/recompute.R
!/scripts/reproduction_helpers.R
!/scripts/run_trustee_covariate_sensitivity.R
!/scripts/run_trustee_standardized_model_search.R
!/scripts/run_trustee_state5_neutral_state2.R
!/scripts/run_trustee_state_count_robustness.R
!/scripts/run_trustee_state_count_sensitivity.R
!/scripts/sample_demographics.R
!/scripts/trustee_model_helpers.R
!/supplement.Rmd
!/tests/test_bootstrap_rules.R
!/tests/test_distribution.py
!/tests/test_input_checks.R
!/verify_package.py
